// Button
.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:hover {
    transform: scale(0.98);
  }
}
.btn-success {
  @extend .btn;
  background: $success-color;
  color: #fff;
  &-border {
    @extend .btn-success;
    background: none;
    border: solid 3px $success-color;
    padding: 0.2rem 1.1rem;
  }
  &-border:hover {
    background: $success-color;
    color: none;
  }
}

.btn-primary {
  @extend .btn;
  background: $primary-color;
  color: #fff;
  &-border {
    @extend .btn-success;
    background: none;
    border: solid 3px $primary-color;
    padding: 0.2rem 1.1rem;
  }
  &-border:hover {
    background: $primary-color;
    color: none;
  }
}
.btn-dark {
  @extend .btn;
  background: $dark-color;
  color: #fff;
  &-border {
    @extend .btn-success;
    background: none;
    border: solid 3px $dark-color;
    padding: 0.2rem 1.1rem;
  }
  &-border:hover {
    background: $dark-color;
    color: none;
  }
}
.btn-light {
  @extend .btn;
  background: $light-color;
  color: #333;
  &-border {
    @extend .btn-success;
    background: none;
    border: solid 3px $light-color;
    padding: 0.2rem 1.1rem;
  }
  &-border:hover {
    background: $light-color;
    color: #333;
  }
}
.btn-danger {
  @extend .btn;
  background: $danger-color;
  color: #fff;
  &-border {
    @extend .btn-success;
    background: none;
    border: solid 3px $danger-color;
    padding: 0.2rem 1.1rem;
  }
  &-border:hover {
    background: $danger-color;
    color: none;
  }
}
