@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
$font-stack: 'Raleway', sans-serif;

// colors
$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #d3d3d3;
$danger-color: #dc3545;
$success-color: #28a745;
$bodyBack-color: rgb(29, 29, 29);
